@using _3DMapleSystem.Web.ViewModels;
@model HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-3 pull-left ">
                <a href="#" class="category-title">
                    <p><big>@category.Name</big></p>
                </a>
                <div class="row">
                    @foreach (var subCategory in category.SubCategories)
                    {
                        <div class="col-md-12">
                            <a href="#">@subCategory.Name</a>
                        </div>
                    }

                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        <a href="\PolyModels\Create" class="btn btn-add-model">Add 3D Model</a>
    </div>
</div>
<div class="clearfix"></div>
<br />

<div class="row">
    <div class="col-md-9">
        @foreach (var model in Model.PolyModels)
        {
            @Html.Partial("_SimplePolyModel", model)
        }
    </div>
</div>

