

@*@Html.ActionLink("Pay Direct With Credit Card", "PaymentWithCreditCard", "Paypal")
@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")*@

<a href='@Url.Action("PaymentWithPaypal", "PayPal")'>
    <img src="https://www.paypalobjects.com/en_US/grpB/Marketing/i/btn/btn_buynow_150wx70h.gif" border="0" alt="Buy Now Button image">
</a>
	