@using _3DMapleSystem.Web.ViewModels
@model SubCategoryViewModel

<li class="subcategory-list-item">
    <input type="checkbox" id="subcategory-@Model.Id" class="subcategory-list-item-checkbox" />
    <label for="subcategory-@Model.Id">@Model.Name</label>
</li>
