body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#author-sign {
    font-size: 0.8em;
}

.category-title>p{
    color:black;
    padding-bottom:5px;
    margin-bottom:0;
}

.category-title:hover{
    color:gray;
}

.list-category-row{
    margin-bottom:20px;
}
