@using _3DMapleSystem.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Success"] != null)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            @TempData["Success"].ToString()
        </div>
    </div>
}

@*@Html.ActionLink("Add new sub-platform", "Add", "SubPlatforms", null, new { @class = "btn btn-success" })*@

@Html.Grid(Model).Columns(columns =>
{
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .Titled(string.Empty)
        .RenderValueAs(model => CheckIfDeletedForEdit(model))
        .Filterable(false).Sortable(false);
    //columns.Add(model => model.Photo).Filterable(true).Sortable(true);
    columns.Add(model => model.UserName).Filterable(true).Sortable(true);
    columns.Add(model => model.Email).Filterable(true).Sortable(true);
    columns.Add(model => model.AvailableFreeModels).Filterable(true).Sortable(true);
    columns.Add(model => model.AvailableProModels).Filterable(true).Sortable(true);
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .Titled(string.Empty)
        .RenderValueAs(model => CheckIfDeleted(model))
        .Filterable(false)
        .Sortable(false);
    columns.Add()
       .Sanitized(false)
       .Encoded(false)
       .Titled(string.Empty)
       .RenderValueAs(model => Html.ActionLink("Hard Delete", "HardDelete", "Users", new { Id = model.Id }, new { @class = "btn btn-danger btn-xs" }).ToHtmlString())
       .Filterable(false)
       .Sortable(false);

}).Selectable(false)

@helper CheckIfDeleted(UserViewModel user)
{
    if (user.IsDeleted)
    {
        <span class="text-danger">Deleted</span>
    }

    else
    {
        @Html.ActionLink("Delete", "Delete", "Users", new { Id = user.Id }, new { @class = "btn btn-warning btn-sm" })
    }
}

@helper CheckIfDeletedForEdit(UserViewModel user)
{
    if (!user.IsDeleted)
    {
        @Html.ActionLink("Edit", "Edit", "Users", new { Id = user.Id }, new { @class = "btn btn-primary btn-sm" })
    }
}