@using _3DMapleSystem.Web.ViewModels.PolyModels
@model IEnumerable<SimplePolyModelViewModel>

@{
    ViewBag.Title = "Index";
    ViewBag.SearchQuery = Request.QueryString["query"];
}

<h3>Search results '@ViewBag.SearchQuery'</h3>
<br />
<h5>3d Models (@Model.Count())</h5>
<hr />

<div class="row">
    <div class="col-md-9">
        @foreach (var model in Model)
        {
            @Html.Partial("_SimplePolyModel", model)
        }
    </div>
</div>