@using _3DMapleSystem.Web.ViewModels.ComplexModels
@model SearchComplexViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.SearchQuery = Request.QueryString["query"];
}

<h3>Search results '@ViewBag.SearchQuery'</h3>
<br />
<h5>3d Models (@Model.PolyModels.Count())</h5>
<hr />

<div class="row">
    <div class="col-md-9">
        @foreach (var model in Model.PolyModels)
        {
            @Html.Partial("_SimplePolyModel", model)
        }
    </div>
    <div class="col-md-3">
        <ul>
            @foreach (var subcategory in Model.SubCategories)
            {
                @Html.Partial("_SubCategoryInList", subcategory)
            }
        </ul>
    </div>
</div>