@using _3DMapleSystem.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model IEnumerable<PolyModelViewModel>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Success"] != null)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            @TempData["Success"].ToString()
        </div>
    </div>
}

<h2>All Models (admin menu)</h2>

@*@Html.ActionLink("Add new 3D Model", "Add", "PolyModels", null, new { @class = "btn btn-success" })*@

@Html.Grid(Model).Columns(columns =>
{
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .Titled(string.Empty)
        .RenderValueAs(model => CheckIfDeletedForEdit(model))
        .Filterable(false).Sortable(false);
    columns.Add(model => model.Title).Filterable(true).Sortable(true);
    columns.Add(model => model.CategoryName).Titled("Category").Filterable(true).Sortable(true);
    columns.Add(model => model.AuthorName).Titled("Author").Filterable(true).Sortable(true);
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .Titled(string.Empty)
        .RenderValueAs(model => CheckIfDeleted(model))
        .Filterable(false)
        .Sortable(false);
    columns.Add()
       .Sanitized(false)
       .Encoded(false)
       .Titled(string.Empty)
       .RenderValueAs(model => Html.ActionLink("Hard Delete", "HardDelete", "PolyModels", new { Id = model.Id }, new { @class = "btn btn-danger btn-xs" }).ToHtmlString())
       .Filterable(false)
       .Sortable(false);

}).Selectable(false)

@helper CheckIfDeleted(PolyModelViewModel polyModel)
{
    if (polyModel.IsDeleted)
    {
        <span class="text-danger">Deleted</span>
    }

    else
    {
        @Html.ActionLink("Delete", "Delete", "PolyModels", new { Id = polyModel.Id }, new { @class = "btn btn-warning btn-sm" })
    }
}

@helper CheckIfDeletedForEdit(PolyModelViewModel polyModel)
{
    if (!polyModel.IsDeleted)
    {
        @Html.ActionLink("Edit", "Edit", "PolyModels", new { Id = polyModel.Id }, new { @class = "btn btn-primary btn-sm" })
    }
}